// BEFORE + AFTERS
.before_and_after .row {
	position: relative;
}
.before_and_after .row::after {
	position: absolute;
	content: "";
	bottom: -23px;
	width: 60%;
	left: 50%;
	transform: translate(-50%, 0);
	height: 1px;
	background-color: #cbcbcb;
}
/*
.before_and_after .row::before {
	position: absolute;
	content: "";
	background-image: url(../img/icons/arrow-head.svg);
	width: 7px;
	height: 11px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: -28px;
    right: calc(0px + 20.4%);
}
*/
.after {
	position: relative;
}
.after::before {
	position: absolute;
	content: "";
	background-image: url(../img/icons/arrow-head.svg);
	width: 7px;
	height: 11px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	top: 9px;
    right: 100%;
}
.before_and_after img ~ p {
	margin-top: 0.5em;
	display: inline-block;
	padding: 0 2em;
	background-color: #fff;
	position: relative;
	z-index: 1;
}
.before_and_after .col_inner .button {
	align-self: center;
}