// FOOTER
footer {
	background-color: $brand_dark;
}
footer li {
	margin-left: 0;
}
footer li::before {
	display: none;
}
.footer_links {
	padding: 0;
	list-style: none;
	margin: 0;
}
.footer_links li {
	margin-bottom: .5em;
}
.footer_links a {
	text-decoration: none;
	position: relative;
	transition: .25s ease-in-out;
}
.footer_links a::after {
	height: 1px;
	background-color: #999;
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 0;
	transition: .25s ease-in-out;
}
.footer_links a:hover {
	color: #999;
	transition: .25s ease-in-out;
}
.footer_links a:hover::after {
	width: 100%;
	transition: .25s ease-in-out;
}
.credits {
	background-color: #333;
	padding: 1em 0;
	border-top: 1px solid #666;
}
.credits p {
	font-size: 13px;
}