// FOOTER
footer {
	background-color: $brand_dark;
}
.footer_links {
	padding: 0;
	list-style: none;
	margin: 0;
}
.footer_links li {
	margin-bottom: .5em;
}
.footer_links a {
	text-decoration: none;
	position: relative;
	transition: .25s ease-in-out;
}
.footer_links a::after {
	height: 1px;
	background-color: #999;
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 0;
	transition: .25s ease-in-out;
}
.footer_links a:hover {
	color: #999;
	transition: .25s ease-in-out;
}
.footer_links a:hover::after {
	width: 100%;
	transition: .25s ease-in-out;
}