.light_grey_bg {
	background-color: $brand_light_grey;
}
.row.narrow_gutters {
	margin-right: -.25rem;
	margin-left: -.25rem;
}
.row.narrow_gutters > .col {
	padding-left: .25rem;
	padding-right: .25rem;
	padding-bottom: .5rem;
}
.reverse-even > .row:nth-of-type(odd) {
	flex-direction: row-reverse;
}