* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: #333;
}

html.fixed {
	overflow: hidden;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 200;
}

// WRAPPER
.wrapper {
	overflow-x: hidden;
}

section {
	position: relative;
}

.light_grey_bg {
	background-color: $brand_light_grey;
}
.row.narrow_gutters {
	margin-right: -.25rem;
	margin-left: -.25rem;
}
.row.narrow_gutters > .col {
	padding-left: .25rem;
	padding-right: .25rem;
	padding-bottom: .5rem;
}
.reverse-even > .row:nth-of-type(odd) {
	flex-direction: row-reverse;
}