.search_container {
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	background-color: $brand_red;
	visibility: hidden;
	transform: translate(0, -100%);
	z-index: 999999;
	transition: .25s ease-in-out;
	padding: 2em 0;
}
.search_container.show {
	transform: translate(0, 0);
	visibility: visible;
	transition: .25s ease-in-out;
}
.closeSearchButton span:nth-child(2) {
    transform: rotate(-45deg);
}
.modal_overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	opacity: .75;
	position: fixed;
	z-index: 9999;
	cursor: pointer;
}
/*
.wrapper {
	transition: .25s ease-in-out;
}
.search_container.show ~ .wrapper {
	transform: translate(300px, 0);
	transition: .25s ease-in-out;
}
*/