.col ul.service_icons {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 2em;
	margin: 0 0 1em;
}
.service_icons li {
	flex: 0 0 40px;
	max-width: 40px;
	margin: 0 25px 25px;
}
.service_icons li img {
	height: 100%;
}
.page_header .col_inner {
	padding: 4em;
	display: flex;
	flex-direction: column;
}
.page_header .col_inner h2 {
	margin-top: auto;
}

@media (min-width: 64em) {
	.service_section .col_inner {
		padding: 0 0 0 4em;
	}
	.reverse-even > .service_section:nth-of-type(odd) .col_inner {
		padding: 0 4em 0 0;
	}
}

@media (max-width: 480px) {
	.col ul.service_icons {
		padding: 0;
	}
	.page_header .col_inner {
		padding: 1em 2em 4em;
	}
	.service_section .col_inner {
		padding: 0;
	}
	.service_icons li {
		flex: 0 0 50px;
		max-width: 50px;
		margin: 0 30px 30px;
	}
}